$accentColor:   rgb(100,200,100);
$bgColor1:      rgb(230,230,230);
$bgColor1-fade: rgb(245,245,245);
$bgColor2:      rgb(255,255,255);
$fgColor1:      rgb(120,100,100);
$fgColor1-fade: rgb(200,180,180);
$fgColor2:      rgb(0,0,0);

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}

body{
	font-family: Raleway;
	background-color: $bgColor1;
}

div#header{
	width: 100%;
	height: 75px;
	background-color: $bgColor2;
	min-width: 860px;
	position: fixed;
		top: 0;
		left: 0;

	h1{
		display: inline-block;
		float: left;
		color: $accentColor;
		margin: 15px;
		vertical-align: middle;
		font-size: 2em;

		a{
			text-decoration: inherit;
			color: inherit;
		}
	}

	ul{
		list-style: none;
		float: right;
		height: 75px;
		position: relative;

		li{
			display: inline-block;
			color: $fgColor1;
			height: 30px;
			margin-top: 7.5px;
			margin-right: 20px;

			a{
				color: inherit;
				text-decoration: inherit;
				height: 30px;

				&:hover{
					color: $fgColor1-fade;
				}
			}

			input[type='submit']{
				background-color: transparent;
				border: none;
				outline: none;
				color: inherit;
				font-family: inherit;
				font-size: inherit;
				margin-left: 15px;

				&:hover{
					color: $fgColor1-fade;
				}
			}

			input[type='text'],
			input[type='password']{
				font-family: inherit;
				font-size: 0.8em;
				padding: 2px;
				width: 120px;
			}

			input{
				height: 30px;
			}
		}
	}
}

div#content{
	margin: 125px 30px 30px;
	min-width: 860px;
	
	div#contentTitle{
		margin-bottom: 30px;

		h2{
			float: left;
			font-size: 2em;
			text-transform: uppercase;
			margin: 0;
		}

		div#sectionOptions{
			float: right;

			a{
				text-decoration: none;
				display: inline-block;
				padding: 15px;
				background-color: $bgColor2;
				color: $accentColor;
				margin-left: 10px;
				border-radius: 6px;
				font-size: 0.9em;

				&:hover{
					background-color: $bgColor1-fade;
				}
			}
		}
	}

	// Register

	#regForm{
		width: 400px;
		border-collapse: collapse;

		td:first-of-type{
			width: 100px;
		}

		input{
			width: 300px;
			border: none;
			box-sizing: border-box;
			padding: 3px;
			font-size: 0.9em;
			margin: 5px 0;
		}

		#regName{
			input{
				&:nth-of-type(1){
					width: 125px;
					margin-right: 10px;
				}
				&:nth-of-type(2){
					width: 30px;
					margin-right: 10px;
				}
				&:nth-of-type(3){
					width: 125px;
				}
			}
		}
	}

	input#regButton{
		text-align: right;
		display: block;
		width: 400px;
	}

	// Add Session

	#addSessionForm{
		width: 500px;
		border-collapse: collapse;

		td:first-of-type{
			width: 200px;
			vertical-align: top;
		}

		input[type='text'],
		input[type='password']{
			width: 300px;
			border: none;
			box-sizing: border-box;
			padding: 3px;
			font-size: 0.9em;
			margin: 5px 0;
		}

		#addSessionDate{
			input{
				width: 135px;

				&:nth-of-type(1){
					float: left;
				}

				&:nth-of-type(2){
					float: right;
				}
			}

			.dateMiddle{
				margin-top: 5px;
				width: 30px;
				display: inline-block;
				text-align: center;
			}
		}
	}

	input#addSessionButton{
		text-align: right;
		display: block;
		width: 500px;
	}
}

.submitForm{
	margin: 20px 0;
	color: $accentColor;
	font-size: 1.2em;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
	font-family: inherit;
}

.clear{
	clear: both;
}