$accentColor:   rgb(100,200,100);
$bgColor1:      rgb(230,230,230);
$bgColor1-fade: rgb(245,245,245);
$bgColor2:      rgb(255,255,255);
$fgColor1:      rgb(120,100,100);
$fgColor1-fade: rgb(200,180,180);
$fgColor2:      rgb(0,0,0);

$mainFont: 'Raleway';

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}

body{
	font-family: $mainFont;
	background-color: $bgColor1;
}

div#header{
	width: 100%;
	height: 75px;
	background-color: $bgColor2;
	min-width: 860px;
	position: fixed;
		top: 0;
		left: 0;

	h1{
		display: inline-block;
		float: left;
		color: $accentColor;
		margin: 15px;
		vertical-align: middle;
		font-size: 2em;

		a{
			text-decoration: inherit;
			color: inherit;
		}
	}

	ul{
		list-style: none;
		float: right;
		height: 75px;
		position: relative;

		li{
			display: inline-block;
			color: $fgColor1;
			height: 30px;
			margin-top: 7.5px;
			margin-right: 20px;

			a{
				color: inherit;
				text-decoration: inherit;
				height: 30px;

				&:hover{
					color: $fgColor1-fade;
				}
			}

			input[type='submit']{
				background-color: transparent;
				border: none;
				outline: none;
				color: inherit;
				font-family: inherit;
				font-size: inherit;
				margin-left: 15px;

				&:hover{
					color: $fgColor1-fade;
				}
			}

			input[type='text'],
			input[type='password']{
				font-family: inherit;
				font-size: 0.8em;
				padding: 2px;
				width: 120px;
			}

			input{
				height: 30px;
			}
		}
	}
}

div#content{
	margin: 125px 30px 30px;
	min-width: 860px;
	
	div#contentTitle{
		margin-bottom: 30px;

		h2{
			float: left;
			font-size: 2em;
			text-transform: uppercase;
			margin: 0;
		}

		div#sectionOptions{
			float: right;

			a{
				text-decoration: none;
				display: inline-block;
				padding: 15px;
				background-color: $bgColor2;
				color: $accentColor;
				margin-left: 10px;
				border-radius: 6px;
				font-size: 0.9em;

				&:hover{
					background-color: $bgColor1-fade;
				}
			}
		}
	}

	// Register

	#regForm{
		width: 400px;
		border-collapse: collapse;

		td:first-of-type{
			width: 100px;
			font-weight: bold;
		}

		input{
			width: 300px;
			border: none;
			box-sizing: border-box;
			padding: 3px;
			font-size: 0.9em;
			margin: 5px 0;
		}

		#regName{
			input{
				&:nth-of-type(1){
					width: 125px;
					margin-right: 10px;
				}
				&:nth-of-type(2){
					width: 30px;
					margin-right: 10px;
				}
				&:nth-of-type(3){
					width: 125px;
				}
			}
		}
	}

	input#regButton{
		text-align: right;
		display: block;
		width: 400px;
	}

	// Add Session

	#addSessionForm{
		width: 500px;
		border-collapse: collapse;

		td:first-of-type{
			width: 200px;
			vertical-align: top;
			font-weight: bold;
			padding-top: 4px;
		}

		input[type='text'],
		input[type='password']{
			width: 300px;
			height: 20px;
			border: none;
			box-sizing: border-box;
			padding: 3px;
			font-size: 0.9em;
			margin: 5px 0;
		}

		.fromToDate{
			width: 300px;
			@extend .fromToDate;
		}

		.restrictedSection{
			clear: both;
			display: block;
			padding-top: 15px;
			font-weight: bold;
		}

		#addRestrictedDate.fromToDate,
		#blackDate{
			width: 260px;
			float: left;
			@extend .fromToDate;
		}

		#addDate,
		#addTime{
			float: right;
			margin-top: 4px;
			background: none;
			border: none;
			outline: none;
			font-size: 1.2em;

			&:hover{
				color: $accentColor;
			}
		}

		#blackDates,
		#blackTimes{
			padding: 0 0 0 10px;
			width: 140px;
			list-style: none;

			li{
				position: relative;
				padding: 3px 0 3px 30px;
				height: 20px;
			}

			button{
				position: absolute;
					left: 0;
					top: 0;
				border-radius: 50%;
				height: 20px;
				width: 20px;
				background-color: $bgColor2;
				border: none;
				outline: none;

				&:hover{
					color: &fgColor1-fade;
				}
			}
		}

		.restrictedDay{
			margin: 3px 5px 3px 10px;
		}

	}

	input#addSessionButton{
		text-align: right;
		display: block;
		width: 500px;
	}
}

.fromToDate{
	input{
		width: calc(50% - 15px);

		&:nth-of-type(1){
			float: left;
		}

		&:nth-of-type(2){
			float: right;
		}
	}

	.dateMiddle{
		margin-top: 5px;
		width: 30px;
		display: inline-block;
		text-align: center;
	}
}

.submitForm{
	margin: 20px 0;
	color: $accentColor;
	font-size: 1.2em;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
	font-family: inherit;

	&:hover{
		color: $fgColor1-fade;
	}
}

.clear{
	clear: both;
}

input{
	font-family: $mainFont;
}

#popup-overlay {
	top:0;
	left:0;
	position: fixed;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:rgba(100,100,100,0.6);
}

#popup-frame {
	position: fixed;
	top: 27.5%;
	left: 27.5%;
	width: 45%;
	height: 45%;
	z-index: 2000;
	background-color:rgb(255,255,255);
	padding:20px;
}

.editTG, .editVenue {
	color:rgb(10,11,123);
	cursor:pointer;	
}

// Error

#message-display{
    position: fixed;
    bottom: 0px;
    right: 20px;
    padding: 40px 15px 15px;
    border-radius: 5px;
    font-weight: 700;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    width: 200px;
    opacity: 0;
    z-index: 1051;
    cursor: default;
    display: none;
}

#message-display .head, #message-display .exit{
    position: absolute;
    top: 5px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=50);
    opacity: .50; 
}

#message-display button.exit{
    right: 5px;
    font-size: 0.6em;
    background-color: transparent;
    border: none;
}

#message-display .head{
    left: 10px;
    font-size: 1.3em;
}