@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.ttf"); }
body {
  font-family: Raleway;
  background-color: #e6e6e6; }

div#header {
  width: 100%;
  height: 75px;
  background-color: white;
  min-width: 860px;
  position: fixed;
  top: 0;
  left: 0; }
  div#header h1 {
    display: inline-block;
    float: left;
    color: #64c864;
    margin: 15px;
    vertical-align: middle;
    font-size: 2em; }
    div#header h1 a {
      text-decoration: inherit;
      color: inherit; }
  div#header ul {
    list-style: none;
    float: right;
    height: 75px;
    position: relative; }
    div#header ul li {
      display: inline-block;
      color: #786464;
      height: 30px;
      margin-top: 7.5px;
      margin-right: 20px; }
      div#header ul li a {
        color: inherit;
        text-decoration: inherit;
        height: 30px; }
        div#header ul li a:hover {
          color: #c8b4b4; }
      div#header ul li input[type='submit'] {
        background-color: transparent;
        border: none;
        outline: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        margin-left: 15px; }
      div#header ul li input[type='text'],
      div#header ul li input[type='password'] {
        font-family: inherit;
        font-size: 0.8em;
        padding: 2px;
        width: 120px; }
      div#header ul li input {
        height: 30px; }

div#content {
  margin: 125px 30px 30px;
  min-width: 860px; }
  div#content div#contentTitle {
    margin-bottom: 30px; }
    div#content div#contentTitle h2 {
      float: left;
      font-size: 2em;
      text-transform: uppercase;
      margin: 0; }
    div#content div#contentTitle div#sectionOptions {
      float: right; }
      div#content div#contentTitle div#sectionOptions a {
        text-decoration: none;
        display: inline-block;
        padding: 15px;
        background-color: white;
        color: #64c864;
        margin-left: 10px;
        border-radius: 6px;
        font-size: 0.9em; }
        div#content div#contentTitle div#sectionOptions a:hover {
          background-color: whitesmoke; }
  div#content #regForm {
    width: 400px;
    border-collapse: collapse; }
    div#content #regForm td:first-of-type {
      width: 100px; }
    div#content #regForm input {
      width: 300px;
      border: none;
      box-sizing: border-box;
      padding: 3px;
      font-size: 0.9em;
      margin: 5px 0; }
    div#content #regForm #regName input:nth-of-type(1) {
      width: 125px;
      margin-right: 10px; }
    div#content #regForm #regName input:nth-of-type(2) {
      width: 30px;
      margin-right: 10px; }
    div#content #regForm #regName input:nth-of-type(3) {
      width: 125px; }
  div#content input#regButton {
    text-align: right;
    display: block;
    width: 400px; }
  div#content #addSessionForm {
    width: 500px;
    border-collapse: collapse; }
    div#content #addSessionForm td:first-of-type {
      width: 200px;
      vertical-align: top; }
    div#content #addSessionForm input[type='text'],
    div#content #addSessionForm input[type='password'] {
      width: 300px;
      border: none;
      box-sizing: border-box;
      padding: 3px;
      font-size: 0.9em;
      margin: 5px 0; }
    div#content #addSessionForm #addSessionDate input {
      width: 135px; }
      div#content #addSessionForm #addSessionDate input:nth-of-type(1) {
        float: left; }
      div#content #addSessionForm #addSessionDate input:nth-of-type(2) {
        float: right; }
    div#content #addSessionForm #addSessionDate .dateMiddle {
      margin-top: 5px;
      width: 30px;
      display: inline-block;
      text-align: center; }
  div#content input#regButton {
    text-align: right;
    display: block;
    width: 400px; }

.submitForm {
  margin: 20px 0;
  color: #64c864;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-family: inherit; }

.clear {
  clear: both; }

/*# sourceMappingURL=style.css.map */
